.footer
    {
        margin-top: 24px;
        padding: 21px;
        font-weight: 100;
        font-size: 15px;
        line-height: 140%;
        max-width: 50%;
        margin:auto;
        letter-spacing: 0.05em;
        color: rgba(211, 211, 211, 0.712);
    }
    @media (max-width: 676px){
        .footer{
            margin-top:10px;
            max-width: 85%;
            padding:4px;
        }
}
.mail{
    margin-top: 24px;
    color: rgb(117, 116, 116);
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
    background-color: transparent;
}
.mail:hover{
    text-decoration: none;
}
.talk{
        margin-bottom: -1px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: rgb(110, 126, 145);
    
}
