html{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;

}
*, ::after, ::before{
	box-sizing: inherit;
}
@media (max-width: 767px) {
	.navbar{
	width:100%;
	}
}
.caption{
    caption-side:top;
    margin-top:20px;
}
.body{
    background-color:rgb(255, 255, 255);
    text-align: center;
    width:100%;
    color:rgba(0, 0, 0, 0.699)
}
.hr{
    border-top:1px solid rgba(0, 0, 0, 0.699);
}
.subHeader{
    margin-top: 0;
    font-weight: normal;
    width:100%;
    text-align: center;
    text-decoration-color: aliceblue;
    
    

}
.social-img{
    width:38px;
    height:38px;
    width:100%;
    padding:4px;
}
.socialmedia-nav{
    display:flex;
    justify-content:center;
    background-color: hsl(0, 0%, 93%);
}
.hpc{
    color:green;
    font-size:large;
}
.info__page{
    text-align: center;
    margin-top:2%;
    width:100%;
    font-size:large;
}






